html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.nav_header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo {
    width: 100px;
}

.mbl_menu {
    width: 20px;
    margin: 0 30px;
}

nav {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.nav_option {
    list-style: none;
    margin: 5px 0;
}

.nav_option a {
    text-decoration: none;
}

main {
    margin: 0 20px;
    width: 80%;
}

.products_list {
    padding: 0;
}

.product_item img {
    width: 150px;
}

.product_item {
    display: flex;
    justify-content: space-evenly;
}

.operation_select {
    padding: 10px;
    margin-bottom: 10px;
}

.number_value {
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button_operation {
    border: 1px solid #E63334;
    border-radius: 5px;
    color: #E63334;
    margin: 10px;
    padding: 10px;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    .only_dsk {
        display: none;
    }
}

@media (min-width: 600px) {
    .only_mbl {
        display: none;
    }
    
    body {
        display: flex;
    }
    
    nav {
        width: 15%;
        border-bottom: none;
        border-right: 1px solid lightgray;
        height: 100%;
        position: sticky;
        top: 0;
    }
    
    .nav_option {
        list-style: none;
        margin: 15px 0;
    }
    
    .product_item img {
        width: 230px;
    }
    
    .operation {
        margin-top: 100px;
    }
}