body {
    margin: 0;
}

.nav-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo {
    width: 100px;
}

.mbl-menu {
    width: 20px;
    margin: 0 30px;
}

@media (max-width: 600px) {
    .only_dsk {
        display: none;
    }
}

@media (min-width: 600px) {
    .only_mbl {
        display: none;
    }
}